@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import 'mixin';
@import 'reset';
@import 'variables';

section {
  padding: component-spacing(6);
}

.main {
  display: flex;
  justify-content: center;
  align-items: start;
  margin-top: component-spacing(16);

  min-height: calc(100vh - 80px);
  //background: #eceef3;
  //color: #fff;

  // @TODO: 반응형은 이렇게. 이후 제거 필요
  @include mobile {
    //background: #c65063;
  }

  @include tablet {
    //background: #4d5fc6;
  }

  @include desktop {
    //background: #a7adc6;
  }
}