@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import 'mixin';
@import 'reset';
@import 'variables';

section {
  padding: component-spacing(6);
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  display: flex;
  height: 54px;
  justify-content: space-between;
  align-items: center;

  background: #ffffffdd;

  a {
    @include box-sizing(border-box);
    padding: component-spacing(4);
    font-size: $font-size-16;
    color: $color-bluegray-300;
    transition: 0.3s;

    &:hover {
      color: violet;
    }
  }
}

.main {
  display: flex;
  justify-content: center;
  align-items: start;
  margin-top: component-spacing(16);

  min-height: calc(100vh - 80px);
  //background: #eceef3;
  //color: #fff;

  // @TODO: 반응형은 이렇게. 이후 제거 필요
  @include mobile {
    //background: #c65063;
  }

  @include tablet {
    //background: #4d5fc6;
  }

  @include desktop {
    //background: #a7adc6;
  }
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  margin-top: auto;

  background: #8797af;
  color: #fff;
}



.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.team {
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-item {
  flex-basis: 150px;
  flex-shrink: 0;
  margin: 0 10px;
  transition: all .4s;

  &:hover {
    flex-basis: 200px;
    margin: 0 20px;

    .profile-contents p {
      max-height: 5.6em;
      opacity: 1;
    }
  }
}

.profile {
  position: relative;
  overflow: hidden;

  img {
    width: 100%;
  }

  &:before {
    content: ' ';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 200px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.95+100 */
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.95) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.95) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.95) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#f2000000', GradientType=0); /* IE6-9 */

  }
}

.profile_red {
  color: #ff4949;
}

.profile_green {
  color: darkseagreen;
}

.profile_beige {
  color: beige;
}

.profile_pink {
  color: pink;
}

.profile_purple {
  color: violet;
}

.profile-contents {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 10px;

  h2 {
    font-size: 20px;
    font-weight: bold;

    span {
      display: block;
      font-size: 14px;
      padding: 5px 0;
    }
  }

  p {
    color: white;
    font-size: 12px;
    min-width: 140px;
    max-height: 0;
    overflow: hidden;
    line-height: 1.4;
    transition: all .4s;
    transition-delay: .2s;
  }
}